header {
  .header-nav-top {
    height: 50px; // TODO maybe into vars
    padding-top: 17px; // TODO maybe into vars
    .nav > li.active > a {
      font-weight: bold;
    }
    .nav-languages {
      font-size: 11px;
    }
    .nav-areas {
      font-size: 12px;
    }
  }

  .banner {
    position: relative;
    .mm-search,
    .mm-logo,
    .nav {
      position: absolute;
      color: #f600f6; // özi like it
    }
    .mm-search {
      top: 10px;
      left: 10px;
    }
    .mm-logo {
      top: 21px;
      right: 35px;
    }
    .nav {
      min-height: 40px;
      bottom: 0;
      left: 0;
      right: 0;
      a {
        padding-top: 5px;
        color: #ffffff;
        background-color: @mm-grey-light-trans;
        &.active {
          background-color: @mm-blue;
        }
        &:hover, &:focus {
          background-color: @mm-blue;
          text-decoration: underline;
        }
      }
      > li {
        margin-right: 1px;
        > a {
          text-transform: uppercase;
        }
        @media (min-width: @screen-md-min) {
          width: 20.75%;
          box-sizing: border-box;
          &:last-child {
            margin-right: 0;
            width: 16.5%;
          }
        }
      }
      .dropdown-menu {
        padding: 0;
        a {
          background-color: @mm-blue;
          border-top: 1px solid @mm-blue-dark;
          padding: 9px 10px 10px;
          &:hover, &:focus {
            background-color: @gray-light;
            color: #000000;
            text-decoration: none;
          }
        }
      }
    }
  }
}

