header {
  .header-nav-top {
    height: 50px; // TODO maybe into vars
    padding-top: 17px; // TODO maybe into vars
    .nav > li.active > a {
      font-weight: bold;
    }
    .nav-languages {
      font-size: 11px;
    }
    .nav-areas {
      font-size: 12px;
    }
  }

  .banner {
    position: relative;
    .mm-search,
    .mm-logo,
    .nav {
      position: absolute;
      color: #f600f6; // özi like it
      z-index: 5;
    }
    .mm-search {
      top: 73px;
      left: 35px;
      width: 312px;
      .form-control, .btn {
        padding: 4px 8px;
      }
      .form-control {
        font-size: 12px;
        height: 30px;
        color: @mm-grey-darker;
        border-color: @mm-grey-darker;
        border-right-color: transparent;
      }
      .btn-default {
        border-color: @mm-grey-darker;
        border-left-color: transparent;
      }
    }
    .mm-logo {
      top: 21px;
      right: 35px;
    }
    .xs-nav-header {
      position: absolute;
      top: 0;
      left: 0;
      height: 35px;
      width: 100%;
      background-color: @mm-grey-light-trans;
      z-index: 10;
      i {
        color: #ffffff;
        font-size: 21px;
        padding: 7px 10px;
        &.open {
          background-color: @mm-blue;
        }
      }
    }
    .mm-nav {
      .nav {
        min-height: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        a {
          padding-top: 5px;
          color: #ffffff;
          &.active {
            background-color: @mm-blue;
          }
          &:hover, &:focus {
            background-color: @mm-blue;
            text-decoration: underline;
          }
        }
        > li {
          box-sizing: border-box;
          .fa-angle-right {
            .responsive-invisibility()
          }
          > a {
            margin-right: 1px;
            background-color: @mm-grey-light-trans;
            text-transform: uppercase;
          }

          &:hover, &:focus {
            > a {
              background-color: @mm-blue;
              text-decoration: underline;
            }
          }
        }
        .dropdown-menu {
          padding: 0;
          border: 0;
          min-width: 100%;
          li {
            a {
              background-color: @mm-blue;
              border-top: 1px solid @mm-blue-dark;
              padding: 9px 10px 10px;
              white-space: normal;
              &:hover, &:focus {
                background-color: @gray-light;
                color: #000000;
                text-decoration: none;
              }
              @media (max-width: @screen-xs-max) {
                padding-left: 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  header {
    .banner {
      margin-top: 10px;
      .mm-search {
        top: 35px;
        left: 0;
        display: none;
        background-color: @mm-blue;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px;
        &.open {
          display: block;
        }
        input.form-control {
          border-color: @gray-lighter;
          background-color: @gray-lighter;
        }
        button.btn-default {
          background-color: @gray-lighter;
          border-color: @gray-lighter;;
          color: @gray;
        }
      }
      .mm-nav {
        display: none;
        &.open {
          display: block;
        }
        .nav {
          bottom: inherit;
          margin: 0;
          top: 70px;
          > li {
            .fa-angle-down {
              .responsive-invisibility()
            }

            .fa-angle-right {
              .responsive-visibility()
            }

            &.open {
              .fa-angle-down {
                .responsive-visibility()
              }
              .fa-angle-right {
                .responsive-invisibility()
              }
            }
            > a {
              background-color: @mm-blue;
              border-top: 1px solid @mm-blue-dark;
              padding-top: 4px;
              &:hover {
                background-color: @gray-light;
                color: #000000;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  header {
    .banner {
      .mm-search {
        top: 37px;
        left: 17px;
      }
      .mm-nav {
        .nav {
          > li {
            width: 25%;
            &:nth-child(4) {
              .full-width-bars-right();
              a {
                width: 100%;
                margin-right: 0;
              }
            }
            &:hover, &:focus {
              .dropdown-menu {
                .responsive-visibility();
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: @screen-md-min) {
  header {
    .banner {
      .mm-nav {
        .nav {
          > li {
            width: 20.75%;
            &:last-child {
              width: 17%;
              a {
                margin-right: 0;
                width: 100%;
              }
            }
            &:hover, &:focus {
              .dropdown-menu {
                .responsive-visibility();
              }
            }
          }
        }
      }
    }
  }
}

