// tags ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
html, body {
  overflow-x: hidden;
}

body {
  //background: @body-bg url("../img/bg.png") repeat-x;
  background: @body-bg;
  > .container {
    background-color: #fff;
  }
}

// classes /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.full-width-bars-right {
  margin-right: (600rem + @grid-gutter-width / 2) * -1;
  border-right: 580rem solid @mm-grey-light-trans;
  background-color: @mm-grey-light-trans;
  color: #fff;
}
